body {
    margin: auto;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
  width: 1310px;
}

main {
    background-color: white;
}

p {
  font-size: 20px;
  color: #000000;
}

h1 {
    color: #007D7B;
    display: inline-block;
}

nav {
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    background-color: #000;
    
  
}

nav a {
    text-decoration: none;
    color: #fff;
    
}

nav a:hover {
  color: #007D7B;
}

nav li {
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
}

nav h2 {
    visibility: hidden;
}

#about-img {
    width: 850px;
    float: left;
}

.about {
    float: center;
    text-align: center;
}

#about h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    
}

#about {
    font-size: 20px;
    text-align: center;
}

#gallery h2 {
  text-transform: uppercase;
  font-size: 40px;
  float: center;
}

#gallery {
    text-align: center;
    
}

.right {
  text-align: right;
}

.left{
  text-align: left;
}

.tk-gallery-short {
        height: 281px;
        width: 420px;
}

.tk-gallery-tall {
       height: 630px;
       width: 420px;
}

.top-left {
  font-size: 16px;
  color: #000;
}

.bottom-left-w {
    font-size: 16px;
}

.top-right {
  font-size: 16px;
}

.img2, .img3, .img4 {
  float: left;
  width: 420px;
  height: 281px;
  margin: 6px;
  padding:12.5px;
  position: relative;
  top: -20px;
  right: 5px;
}

#figcap1 {
  position: relative;
  top: -280px;
  left: 5px;
}

#figcap2 {
  position: relative;
  top: -280px;
  left: 5px;
  color: white;
}

#figcap3 {
  position: relative;
  top: -25px;
  left: 310px;
  color: white;
}

.img-cont1 {
  clear: both;
  overflow: hidden;
  position: relative;
}

.img5, .img6, .img7 {
  float: left;
  width: 420px;
  height: 630px;
  margin: 6px;
  padding: 12.5px;
  position: relative;
  top: -20px;
  right: 5px;
}

#figcap4 {
  position: relative;
  top: -630px;
  left: 5px;
}

#figcap5 {
  position: relative;
  top: -30px;
  color: white;
  left:310px;
}

#figcap6 {
  position: relative;
  top: -30px;
  color: white;
  left: 10px;
}

.img-cont2 {
  clear: both;
  overflow: hidden;
  margin: auto;
}

.img8, .img9, .img10 {
  float: left;
  width: 420px;
  height: 281px;
  margin: 6px;
  padding: 12.5px;
  position: relative;
  top: -20px;
  right: 5px;
}

#figcap7 {
  position: relative;
  top: -30px;
  color: white;
  left: 250px;
}

#figcap8 {
  position: relative;
  top: -280px;
  left: 6px;
}
#figcap9 {
  position: relative;
  top: -30px;
  left: 10px;
}

.img-cont3 {
  clear: both;
  overflow: hidden;
  margin: auto;
}

.img11, .img12, .img13 {
  float: left;
  width: 420px;
  height: 281px;
  margin: 6px;
  padding: 12.5px;
  position: relative;
  bottom: 21px;
  right: 5px;
}
#figcap10 {
  position: relative;
  top: -30px;
  color: white;
  left: 330px;
}

#figcap11 {
  position: relative;
  top: -275px;
  color: white;
  left: 5px;
}
#figcap12 {
  position: relative;
  top: -275px;
  color: white;
  left: 5px;
}

.img-cont4 {
  clear: both;
  overflow: hidden;
  margin: auto;
}

h1 {
  color: #007D7B;
  height: 40px;
  display: inline;
}

ul {
  display: inline; 
}

main {
  background-color: white;
}

.img {
  position: relative;
}

.pic .side-about {
  display: inline;
}

.top-about {
  padding: 10px;
}

.top-about,p {
  color: black;
}

main h2 {
  color: black;
}

footer h2 {
  color: white;
}

p {
  color: black;
}

footer p {
  color: white;
}

#contact {
  background-color:#000000;
  color:#FFFFFF;
  clear:both;
  font-size: 25px;
}
form {
  text-align:center;
}
input {
  width:850px;
  padding:10px;
  display:block;
  margin: 0 auto;
}
label {
  font-size:16px;
  text-transform:uppercase;
}
#name, #email, #message {
  color:#000000;
}
input::placeholder {
  color:#007D7B;
  font-size:16px;
  text-transform:uppercase;
}
button {
    background-color:#007D7B;
    size:425px;
    color: #FFFFFF;
    font-size: 16px;
    text-transform:uppercase;
    padding:16px 212px;
    border-radius: 16px;
}

footer {
    color:#FFFFFF;
    font-size:16px;
    text-align:center;
}